/* Reset default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Product container */
  .product-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 25px;
  }
  
  /* Product image */
  .product-image {
    flex: 0 0 50%;
    overflow: hidden;
    height: 80vh;
  }
  
  .product-image img {
    width: 100%;
    height: auto;
  }
  
  /* Product details */
  .product-details {
    flex: 0 0 50%;
    padding: 20px;
    background-color: #f8f9fa;
    height: 80vh;
  }
  
  .product-title {
    font-size: 30px;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
    padding: 20px 10px;
  }
  
  .product-description {
    font-size: 16px;
    color: #555;
    margin-bottom: 20px;
  }
  
  .product-price {
    font-size: 20px;
    font-weight: bold;
    color: #007bff;
    margin-bottom: 10px;
    
  }
  
  .product-time {
    font-size: 16px;
    color: #555;
    margin-bottom: 20px;
    
  }
  

  /* Red text */
  .red-text {
    color: red;
  }
  
  /* Product button */
  .product-button {
    padding: 10px 15px !important;
    margin-top: 20px;
    font-size: 18px !important;
    font-weight: bold !important;
    color: #fff;
    background-color: #000000 !important;
    border: 0px #000000;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .product-button:hover {
    background-color: #00b31e !important;
  }
  
  .user-info {
    display: flex;
    align-items: center !important;
  }

  .user-name {
    margin: 1px 0 0 15px;
  }

  .user-avatar {
    border-radius: 50%;
    border: 3px black solid ;
    margin-left: 10px;
  }
  .form-control {
    font-size: 20px; /* Adjust the font size to make it bigger */
    width: 100px; /* Set a smaller width */
    height: 40px; /* Set a bigger height */
  }
  
  .form-control::placeholder {
    font-size: 14px; /* Adjust the placeholder font size to make it smaller */
    opacity: 0.7; /* Reduce the opacity of the placeholder text */
  }

  
  .timer-label {
    margin-bottom: 5px;
    display: inline-block;
    font-weight: bold;
    color: #ffffff; /* Text color */
    background-color: #ff0000; /* Background color */
    padding: 10px 15px; /* Add padding for better appearance */
    border-radius: 5px; /* Add rounded corners */
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2); 
  }
  

  
  .expired-message {
    color: #f44336; /* Red color */
    font-weight: bold;
    margin-top: 10px;
    font-size: 18px;
  }
  