/* Reset default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Product container */
  .product-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
    
  }
  
  /* Product image */
  .product-image {
    flex: 0 0 50%;
    overflow: hidden;
    height: 70vh;
   /** margin-left: 15px;**/
  }
  
  .product-image img {
    width: 100%;
    height: auto;
  }
  
  /* Product details */
  .product-details {
    flex: 0 0 50%;
    padding: 20px;
    height: 70vh;
  }
  
  .product-title {
    margin-top: 15px;
    margin-bottom: 20px;
    margin-left: 20px;
    
  }
  
  .product-description {
    font-size: 16px;
    color: #555;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
  }
  
  .product-price {
    font-size: 20px;
    font-weight: bold;
    color: #007bff;
    margin-bottom: 10px;
  }
  
  .product-time {
    font-size: 16px;
    color: #555;
    margin-bottom: 20px;
  }
  

  /* Red text */
  .red-text {
    color: red;
  }
  
  /* input of the bit increament */
  
  .incr-pay {
    width: 400px !important;
  }

  /* Product button */
  .product-button {
    padding: 10px 20px !important;
    width: 400px;
    letter-spacing: 2px;
    margin-top: 20px;
    font-size: 18px !important;
    font-weight: bold !important;
    color: #fff;
    background-color: #0e0e0e !important;
    border: 0px #0e0e0e;
    border-radius: 15px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .product-button:hover {
    background-color: #ff0000 !important;
  }
  
  .user-info {
    margin-left: 20px;
    margin-top: 20px;
    display: flex;
    align-items: center !important;
  }

  .user-name {
    margin: 1px 0 0 8px;
  }

  .user-avatar {
    border-radius: 50%;
    border: 3px black solid ;
    margin-left: 10px;
  }

  @media only screen and (max-width: 1024px) {
    .product-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-top: 25px;
      
    }

    .incr-pay {
      width: 300px !important;
    }
  
    /* Product button */
    .product-button {
      width: 300px !important;
    }
    
    .make-offer {
      display: flex;
      flex-direction: column;
    }
  }